<!DOCTYPE html>
<head>
    <title>Company profile</title>
    <link rel="stylesheet" href="companyprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="companyprofile.js" defer></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <div class="header">
        <nav>
           <img src="LLogo.jpeg" height="70px" width="auto" class="logo">
           <ul>
              <li><a href="jobsection.ejs">Jobs</a></li>
              <li><a href="companysection.ejs">Companies</a></li>
              <li><a href="#">Services</a></li>
              <li><form action="/userhome" method="post" style="margin-left: 800px;"><input type="text" name="homemail" value="<%=secretMail%>" style="width: 2px;visibility: hidden;"><button type="submit" name="save" id="rot" value="save">Home</button></form></li>
           </ul> 
        </nav>
     </div>

    <img src="ccover.jpg" class="coverpic" width="100%">
    <div class="coverbody">
        <div class="side-cover">
            <img src="infosys.jpg" width="160px" class="profilepic">
        </div>
        <div class="main-cover">

         <%var checker = elc%>
         <%var vill = "Follow"%>
         <%for(j=0;j<=(Object.keys(coc).length-1);j++){%>
            <%if(checker==Object.keys(coc)[j]){%>
            <%vill="Following"%>
            <%break%>
         <%}%>
         <%}%>

            <h1><%=hhh%> </h1>
            <small><%=elc%></small><br>
            <span class="Comp-rating1">4.2 </span><span><img src="star.png" height="15px"></span><span class="Comp-Reviewcount"> (644 Reviews)</span><br>
            <span><%=Object.keys(count).length%>  Followers</span><br>
            <p><%=hhh%> is the world's most comprehensive and broadly adopted cloud platform, offering over 200 fully featured services from data centers globally. </p>
            <form action="/companyprofile" method="post" >
                <button type="submit" class="follow" name="cpro" value="follow" ><%=vill%></button>
                <button type="submit" class="review" name="cpro" value="review" >+ Add review</button>
                <input type="text" name="Umail" value="<%=secretMail%>" style="width: 2px;opacity: 0;">
                <input type="text" name="Cname" value="<%=hhh%>" style="width: 2px;opacity: 0;">
            </form>
        </div>
    <hr>
    
        <%for(i=(imp.length-1);i>=0;i--){%>
  
           <% var date1 = new Date()%>
           <% var date2 = new Date (imp[i].JOBDATE)%>
           <%var total_seconds = Math.abs(date2 - date1) / 1000 %>
           <%var secs_difference = Math.floor(total_seconds)%>
           <%var mins_difference = Math.floor(total_seconds/60)%>
           <%var hours_difference = Math.floor(total_seconds/(60 * 60))%>
           <%var days_difference = Math.floor (total_seconds / (60 * 60 * 24))%>
           <%var weeks_difference = Math.floor(total_seconds / (60 * 60 * 24 * 7))%>
           <%var months_difference = Math.floor(total_seconds / (60 * 60 * 24 * 30))%>
           
           <%if(total_seconds < 60){numeric=secs_difference,metric="seconds"}%>
  
           <%if(total_seconds >= 60 && total_seconds < 120){numeric=mins_difference,metric="minute"}%>
           <%if(total_seconds >= 120 && total_seconds < 3600){numeric=mins_difference,metric="minutes"}%>
  
           <%if(total_seconds >= 3600 && total_seconds < 7200){numeric=hours_difference,metric="hour"}%>
           <%if(total_seconds >= 7200 && total_seconds < 86400){numeric=hours_difference,metric="hours"}%>
  
  
           <%if(total_seconds >= 86400 && total_seconds < 172800){numeric=days_difference,metric="day"}%>
           <%if(total_seconds >= 172800 && total_seconds < 604800){numeric=days_difference,metric="days"}%>
  
           <%if(total_seconds >= 604800 && total_seconds < 1209600){numeric=weeks_difference,metric="week"}%>
           <%if(total_seconds >= 1209600){numeric=weeks_difference,metric="weeks"}%>

            <%var checker = imp[i]._id%>
            <%var value = "Apply"%>
            <%for(j=0;j<=(Object.keys(NJ).length-1);j++){%>
            <%if(checker==Object.keys(NJ)[j]){%>
            <%value="Applied"%>
            <%break%>
            <%}%>
            <%}%>


            <%var checker = imp[i]._id%>
            <%valu="far fa-bookmark"%>
            <%for(j=0;j<=(Object.keys(NS).length-1);j++){%>
            <%if(checker==Object.keys(NS)[j]){%>
            <%valu="fa fa-bookmark"%>
            <%break%>
            <%}%>
            <%}%>
  
           <div class="shell">
               <h4><%=imp[i].JOBNAME%></h4>
               <div class="line1" style="display: flex;"><span class="Comp-Name"><%=imp[i].JOBCOMPANY%> </span><span class="Comp-rating">4.0 </span><span><img src="star.png" height="15px"></span><span class="Comp-Reviewcount"> (129 Reviews)</span></div>
               <img src="calendar.png" height="15px"><span class="deadline"><small><%=imp[i].JOBDATE.slice(4,imp[i].JOBDATE.length-39)%> </small></span><span class="Salaryrange"><small>$ <%=imp[i].JOBSALARY%>K PA</small></span><img src="Job.png" height="15px" class="job-icon" ><span class="experiance"> <%=imp[i].JOBEXPERIANCE%> years</span>
               <img src="location.png" height="15px" class="locicon"><span class="work-city"><small><%=imp[i].JOBLOCATION%></small></span><br>
               <p class="job-description"><%=imp[i].JOBDESCRIPTION%></p>
               <span class="skillhead">Skills Required: </span><span class="skill"><small> <%=imp[i].JOBSKILLS%></small></span><br>
               <form class="bottom" style="padding-top: 5px;" action="/companyprofile" method="post">
               <span class="timeago"><%=numeric%> <%=metric%> ago.</span><span><input type="text" name="applymail" style="opacity: 0;" value="<%=secretMail%>"> </span><span><input type="text" name="applyid" style="opacity: 0;" value="<%=imp[i]._id%>"> </span><span class=><button id="apply" class="apply" type="submit" name="cpro" value="filter"><%=value%></button> </span>
               <span><button class="savelater" name="cpro" value="saveit"><i class="<%=valu%>"></i></button></span> 
              </form>
            </div>
       
       <%}%>
  
</body>

</html>