<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job section</title>
    <link rel="stylesheet" href="joblander.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

    body{
	background: #eceaff;
    }
    .side-div{
	width: 340px;
	min-height: 500px;
	background-color: #ffffff;
	float: left;
	/* margin-top: 20px; */
	margin-left: 100px;
	/* border-radius: 15px; */
	text-align: center;
	font-family: 'Poppins', sans-serif;
    position: fixed;
}

.body-div{
	margin-top: 20px;
	min-height: 3000px;
}
    .shell{
	/* margin-top: 20px; */
	margin-left: 60px;
	margin-right: 100px;
	width: 800px;
	min-height: 220px;
	background-color: #fff;
	border-radius: 10px;
	float: right;
	padding-left: 30px;
	padding-right: 50px;
	padding-bottom: 10px;
	font-family: 'Poppins', sans-serif;
}
.stl{
    border: 1px solid black;
    background: white;
    width: 100%;
    padding: 15px;
    text-align: center;
    line-height: 0.6;
}
.stl input{
    height: 20px;
    width: 250px;
    border: none;
    /* border-radius: 20px; */

    outline: none;
    border-bottom: 1.5px solid black;
}
header{
    background-color: #24252A;
    color: #edf0f1;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 10%; */
    font-family: 'Poppins', sans-serif;

}
.logo{
    margin-left: 10px;
    cursor: pointer;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
button{
    padding: 9px 25px;
    background-color: rgb(4, 179, 223);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
    </style>
</head>
<body>
<header>
    <h2 class="logo">CareerHive <span><img src="p-icon.png" style="position: relative;top: 7px;" height="30px" width="auto" ></span> <%=ldddname%></h2>
    <nav>
        <ul class="nav_links">
            <li><form action="/employerhomepage" method="post"><input type="text" name="edokati" style="opacity: 0;height: 0;width: 0px;" value="<%=ldddmail%>" ><button type="submit" name="logged" value="goback">Home</button></form></li>
            <li><form action="/" method="post"><button>Logout</button></form></li>
        </ul>
    </nav>
</header>
<div clsaa="main-div">
    <div class="side-div">
        <form id="jobform" class="stl" action="/joblander" method="post">
            <h1>New Job</h1>
            <input type="text" id="cm" name="cmpml" style="opacity: 0;height: 0.1px;" value=<%=ldddmail%> >
            <input type="text" id="cn" name="cmpnm" style="opacity: 0;height: 0.1px;" value="<%=ldddname%>" >
            <p>Job Name</p>
            <input type="text" id="nj" name="newJob" autocomplete="off">
            <p>Salary</p>
            <input type="text" id="nsl" name="newSalary" autocomplete="off">
            <p>Experiance</p>
            <input type="text" id="ne" name="newExperiance" autocomplete="off">
            <p>Location</p>
            <input type="text" id="nl" name="newLocation" autocomplete="off">
            <p>Description</p>
            <input type="text" id="nd" name="newDescription" autocomplete="off"></textarea>
            <p>Skill</p>
            <input type="text" id="nsk" name="newSkill" autocomplete="off"><br><br>
            <button type="submit" name="dir" value="backward" style="border: none;color: white;background-color: #265DF2;font-weight: 600;padding: 5px;cursor: pointer;border-radius: 5px;" name="button">Post</button>
         </form>
    </div>

    <div class="body-div">
        
         <%for(i=(temp.length-1);i>=0;i--){%>

            <% var date1 = new Date()%>
         <% var date2 = new Date (temp[i].JOBDATE)%>
         <%var total_seconds = Math.abs(date2 - date1) / 1000 %>
         <%var secs_difference = Math.floor(total_seconds)%>
         <%var mins_difference = Math.floor(total_seconds/60)%>
         <%var hours_difference = Math.floor(total_seconds/(60 * 60))%>
         <%var days_difference = Math.floor (total_seconds / (60 * 60 * 24))%>
         <%var weeks_difference = Math.floor(total_seconds/(60 * 60 * 24 * 7))%>
         <%var months_difference = Math.floor(total_seconds/(60 * 60 * 24 * 30))%>

         <%if(total_seconds < 60){numeric=secs_difference,metric="seconds"}%>

         <%if(total_seconds >= 60 && total_seconds < 120){numeric=mins_difference,metric="minute"}%>
         <%if(total_seconds >= 120 && total_seconds < 3600){numeric=mins_difference,metric="minutes"}%>

         <%if(total_seconds >= 3600 && total_seconds < 7200){numeric=hours_difference,metric="hour"}%>
         <%if(total_seconds >= 7200 && total_seconds < 86400){numeric=hours_difference,metric="hours"}%>


         <%if(total_seconds >= 86400 && total_seconds < 172800){numeric=days_difference,metric="day"}%>
         <%if(total_seconds >= 172800 && total_seconds < 604800){numeric=days_difference,metric="days"}%>

         <%if(total_seconds >= 604800 && total_seconds < 1209600){numeric=weeks_difference,metric="week"}%>
         <%if(total_seconds >= 1209600){numeric=weeks_difference,metric="weeks"}%>
         
    
            <div class="shell">
                <h4><%=temp[i].JOBNAME%></h4>
                <span class="Comp-Name"><small><%=temp[i].JOBCOMPANY%> </small></span><span class="Comp-rating">4.0 </span><span><img src="star.png" height="15px"></span><span class="Comp-Reviewcount"> (129 Reviews)</span><br>
                <img src="calendar.png" height="15px"><span class="deadline"><small><%=temp[i].JOBDATE.slice(4,temp[i].JOBDATE.length-39)%> </small></span><span class="Salaryrange"><small>$ <%=temp[i].JOBSALARY%>K PA</small></span><img src="Job.png" height="15px" class="job-icon" ><span class="experiance"> <%=temp[i].JOBEXPERIANCE%> years</span>
                <img src="location.png" height="15px" class="locicon"><span class="work-city"><small><%=temp[i].JOBLOCATION%></small></span><br>
                <p class="job-description"><%=temp[i].JOBDESCRIPTION%></p>
                <span class="skillhead">Skills Required: </span><span class="skill"><small> <%=temp[i].JOBSKILLS%></small></span><br>
                <div class="rock">
                <form class="bottom" style="padding-top: 5px;" action="Applicants" method="post">
                <span class="timeago"><%=numeric%> <%=metric%> ago.</span><span><input type="text" name="viewid" style="opacity: 0;" value="<%=temp[i]._id%>"> </span><span><button style="border: none;background-color: rgb(3, 99, 3);color: white;padding: 5px;border-radius: 6px;margin-left: 350px;cursor: pointer;">View Applicants</button></span>
                </form>
                </div>
             </div>
        
        <%}%>  
    </div>
</div>      
</body>
<script src="joblander.js"></script>
</html>